@use '../../styles/partials/_fonts.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {
    @include setPadding(1rem, 1rem, 1rem, 1rem);
    display: flex;
    flex-direction: column;
    
    @include tablet {
        @include setPadding(2rem, 2rem, 2rem, 2rem);
    }

    &__text {
        font-weight: 300;
        @include setPadding(0rem, 0rem, 2rem, 0rem);

        @include tablet {
            @include setMargin(0, 0, 2rem, 0);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-button {
        border-radius: 5px;
        @include setMargin(0rem, 0rem, 5rem, 0rem);
        display: flex;
        justify-content: center;
        align-content: center;
        @include setPadding(0.3rem, 0rem, 0.3rem, 0rem);
        width: 100%;
        background-color:$main-color;

        @include tablet {
            @include setPadding(0.6rem, 0rem, 0.6rem, 0rem);
        }

        @include desktop {
            @include setMargin(0, 0, 6rem, 0);
        }
    }

    &__form-ounce-label {
        @include setPadding(0rem, 0rem, 1rem, 0rem);
        display: flex;
        justify-content: center;
    }
    
    &__form-ounce-field {
        @include setMargin(0rem, 0rem, 4rem, 0rem);
        @include setPadding(0.5rem, 0.5rem, 0.5rem, 0rem);

        &:active {
            border-color: $green;
        } 
    }

    &__form-mill-label {
        @extend .main__form-ounce-label;
        @include setMargin(0, 0, 1rem, 0);
    }

    &__form-result {
        border: 3px dotted $green;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 30%;
        border-radius: 30% 30% 30% 30%;
        @include setPadding(1.2rem, 1rem, 1rem, 1rem);
        border-style:dashed;
        font-size: 1.4rem;

      
    }
}